pkgbase = slate-git
	pkgdesc = Minimal, keyboard-first terminal note-taking scratchpad (git)
	pkgver = 0.2.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/dborovcanin/slate
	arch = x86_64
	license = custom
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = glibc
	provides = slate
	conflicts = slate
	source = git+https://github.com/dborovcanin/slate.git
	source = slate.desktop
	sha256sums = SKIP
	sha256sums = 5f9574913c9693ad1b5e656211d8944a3e89ff3dc94dd17ee87bc3740acff88e

pkgname = slate-git
