pkgbase = slate-git
	pkgdesc = Minimal, keyboard-first note-taking scratchpad (git)
	pkgver = 0.2.0.r0.g0000000
	pkgrel = 1
	url = https://github.com/dborovcanin/slate
	arch = x86_64
	license = custom
	makedepends = binaryen
	makedepends = cargo
	makedepends = git
	makedepends = nodejs
	makedepends = npm
	makedepends = rust
	makedepends = wasm-pack
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	provides = slate
	conflicts = slate
	source = git+https://github.com/dborovcanin/slate.git
	source = slate.desktop
	sha256sums = SKIP
	sha256sums = a8499b67a79500cae96ff79204a00a6df294e4987abe6063c20b311ea146f19d

pkgname = slate-git
