pkgbase = slate-bin
	pkgdesc = Minimal, keyboard-first terminal note-taking scratchpad (prebuilt binary)
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/dborovcanin/slate
	arch = x86_64
	license = custom
	depends = glibc
	depends = libgcc
	conflicts = slate
	conflicts = slate-git
	options = !debug
	source = slate-0.3.0-linux-x86_64::https://github.com/dborovcanin/slate/releases/download/v0.3.0/slate-linux-x86_64
	source = slate-0.3.0.tar.gz::https://github.com/dborovcanin/slate/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = slate-bin
